@model Student
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditView</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <form action="/student/edit/@Model.id" method="post">
                    <div class="form-group">
                        <label class="col-form-label">Student Name: </label>
                        <input type="text" class="form-control" value="@Model.name" name="name" />
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Student Age: </label>
                        <input type="number" class="form-control" value="@Model.age" name="age" />
                    </div>
                    <input class="btn btn-primary" type="submit" value="Update Student" />
                </form>
            </div>
        </div>
    </div>
</body>
</html>
