
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home Page</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="jumbotron"> 
        <div class="row">
            <div class="col">
                <h1>Home Page</h1>
                <br />
                <a class="btn btn-primary" href="/student/">Students</a>
                <a class="btn btn-primary" href="/department/">Departments</a>
            </div>
        </div>
    </div>
</body>
</html>
